extends ./templates/_html.pug

block vars
  -
    var meta = {
      title: 'example',
      description: 'example',
      keywords: 'example'
    }
    var page = 'top'
    var path = './'

block contents
  section.p-highCareerConsultant
    .p-highCareerConsultant__contents
      h1.p-highCareerConsultant__pageTitle example
      p.p-highCareerConsultant__description
        | example
        br.u-only-sp
        | example
        br.u-only-sp
        | example
      .p-tabBtnContainer
        a.p-tabBtn.p-tabBtn.js-switchTab(href="javascript:void(0)").is-active
          span.p-tabBtn__text すべて
        a.p-tabBtn.p-tabBtn.js-switchTab(href="javascript:void(0)")
          span.p-tabBtn__text
            | example
            br
            | example
        a.p-tabBtn.js-switchTab(href="javascript:void(0)")
          span.p-tabBtn__text
            | example
            br
            | example
        a.p-tabBtn.js-switchTab(href="javascript:void(0)")
          span.p-tabBtn__text
              | example
              br
              | example
        a.p-tabBtn.js-switchTab(href="javascript:void(0)")
          span.p-tabBtn__text example
        a.p-tabBtn.js-switchTab(href="javascript:void(0)")
          span.p-tabBtn__text example
        a.p-tabBtn.js-switchTab(href="javascript:void(0)")
          span.p-tabBtn__text example
      each consultant, index in consultants
        .c-consultantCasette(id=`${index}` data-filter=`${consultant.filterNum}`)
          .c-consultantCasette__inner
            h2.c-consultantCasette__head #{consultant.name}
              span.c-consultantCasette__initial #{consultant.initial}
            .c-consultantCasette__body
              .c-consultantCasette__thumbnail
                img.c-consultantCasette__img(src=``)
                span.c-consultantCasette__type #{consultant.type}
              .c-consultantCasette__profile
                h3.c-consultantCasette__profTitle example
                p.c-consultantCasette__profText #{consultant.profile}
                h3.c-consultantCasette__profTitle example
                p.c-consultantCasette__profText !{consultant.strength}
          .c-consultantCasette__link
            a(href=`./detail/${index}`) example(#{consultant.name})example
              span &#x3E;
  include ./templates/_contact
