extends ./_html.pug

block key
block vars
  -
    var meta = {
      // title: `${example.example} `,
      title: `example`,
      description: `example`,
      keywords: `example`
    }
    var page = 'detail'
    var path = '../'

block contents
  section.p-highCareerConsultantDetail
    article.p-highCareerConsultantDetail__content
      .p-highCareerConsultant__pageTitle example
      //- h1.c-consultantCasette__head #{example[key].example}
        span.c-consultantCasette__initial #{example[key].example}
      .c-consultantCasette__body
        .c-consultantCasette__thumbnail
          img.c-consultantCasette__img(src=``)
          //- span.c-consultantCasette__type #{example[key].example}
        .c-consultantCasette__profile
          h3.c-consultantCasette__profTitle example
          //- p.c-consultantCasette__profText #{example[key].example}
        h3.c-consultantCasette__profTitle example
        //- p.c-consultantCasette__profText !{example[key].example}
        h3.c-consultantCasette__profTitle example
        //- p.c-consultantCasette__profText !{example[key].example}
        h3.c-consultantCasette__profTitle 紹介実績例
        //- p.c-consultantCasette__profText !{example[key].example}
        //- a.p-highCareerConsultantDetail__link(href=`/example/example/?category=${example[key].example}`) example
    include ./_contact
